<!DOCTYPE html>
<html>
<head>
	<title>Home | Trnaslator`s Guild.com</title>
	<style type="text/css">
		#body {
			background: #4a5960;
		}
		#row_container{
			min-height: 1px;
			background: #4a5960;
		}
		.container-fluid {
			min-height: 1px;
			background: #4a5960;
		}
		.div_a {
			width: 100% ;
			/*height: 300px ;*/
			/*background: blue ;*/
			/*position: fixed;
			display: block;
			*/
		}
		#Div_a_cont{
			/*margin: 8% 0px 0px 12%;*/
			/* > node*/
			margin: 2% 0px 0px 2%;
			width: 400px;
			position: fixed;
			display: block;
			/*background: #4a5960;*/
			/* < node */
			
		}
		#logo {
			width: 75%;
		}
		.div_b {
			width: 100% ;
			/*height: 300px ;*/
			/*background: green ;*/
		}
		.content {

			min-height: 200px;
			background: white;
			margin: 10px;
			padding: 15px;
			/*border-radius: 3px;*/
			color:#4a5960; 
		}
		.fotter_link{
			text-decoration: none;
			color:#677c84;
		}
		.translations{
			display: none;
		}
		.post{
			/*display: none;*/
		}
/*		.links{
		color: white;
		text-decoration: none;

		}
		.links a:hover {
	    color:white;
	    text-decoration: none;
		}*/
		



	</style>

	<script src="/jquery-1.11.1.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />

		<!-- > from legacy -->

		   <link href="/mui.min.css" rel="stylesheet" type="text/css" />
	    <link href="/style.css" rel="stylesheet" type="text/css" />
	    <script src="/mui.min.js"></script>
	    <script src="/jquery-2.1.4.min.js"></script>
	    <script src="/script.js"></script>

		<!-- < from legacy -->


</head>
<body id="body">





	<!-- body -->
<div class="container-fluid">
		

	<div class="row" id="row_container">
		<div class="col-sm-4 div_a">

			<div id="Div_a_cont">
			<a href="#"> <img src="/beta_logo_0.png" id="logo"></a>




<!-- > Profile -->

<div class="row" style="margin-top:50px; background:;">
	<!-- container -->

<div class="col-sm-4" style=";width:100%;">



<img style="border-radius: 100%;width: 100px;margin-left:4%;position: relative;z-index: 99; " src="/avatar.jpg" >

</div>

    <div class="col-sm-8" style=" font-size: 1em;color: white;">
<b>
<p style="font-weight:; font-size: 1.5em ;">   	
Nyasha Nyashanu
</b>
</p>
          <p style="font-weight:; font-size: 0.8em ;">  
           Software Engineer Student @UCT 
   <b>       <br> Harare Zimbabwe
<br>

          </p>
</b>
         

    </div>

<!-- container -->
</div>
<!-- < Profile -->


<p style="font-weight: 800;font-size: 2.8em;line-height: 110%;color:#677c84;
 margin-top:20%;">
<b>
LIBRAY<br>
<span style="color: white;">TRANSLATIONS<br></span>
DICTIONARY<br>
PROJECTS<br>
COMMENTS<br>
CULTURE<br>
BLOGS
</b>
</p>




<br>
<br>
<br>

<hr style="margin-top:-20px;">

		<p style="font-weight: ;font-size: 0.9em;line-height: 110%;color:#677c84; ">




		<a href="#" class="fotter_link" style="color: #677c84;">Sitemap </a>. 
		<a href="#" class="fotter_link" style="color: #677c84;">Contacts </a>. 
		<a href="#" class="fotter_link" style="color: #677c84;">Team</a>. 
		<a href="#" class="fotter_link" style="color: #677c84;">Time line / feature </a>. 
		<a href="#" class="fotter_link" style="color: #677c84;">Help</a>



		</p>

			</div>
			
		</div>
		<div class="col-sm-8 div_b">
			<div id="Div_b_cont">

<br>
<br>


<button type="button" class="btn btn-primary " style="background-color: #1da361;border-radius: 5px 0px 0px 5px;border:none;" >

<a href="create" style="text-decoration: none;color: white;">
	NEW
</a>




				<!-- > button -->

<div class="btn-group">
  <button class="btn btn-secondary btn-sm " style="padding: 6px 14px 6px 6px;border-radius: 0px 5px 5px 0px;background-color: #1da361;color: black;border:none;margin-right: 20px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <img style=" ;" src="/ship.png" width="15px">
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="border: 0.5px solid #06424c;padding:3px;margin-right: 50px;color:  " align="center">




<a class="dropdown-item" href="create" style="color: #677c84">Translation</a>


<hr style="padding: 0px;margin: 3px 0px 3px 0px; " >

<a class="dropdown-item" href="create"  style="color: #4a5960"> Book</a>
<a class="dropdown-item" href="create"  style="color: #4a5960"> Article</a>
<a class="dropdown-item" href="create"  style="color: #4a5960"> Phrase</a>
<a class="dropdown-item" href="create"  style="color: #4a5960">Symbol</a>
</br>






  </div>
  

				<!-- < button -->








</button>





<p style="font-weight: ;font-size: 1em;color: #677c84; margin-top:50px; ">
	
<span style="font-size: 1.5em;"> Translations </span>
	/ all


</p>




<hr style="background: #677c84;">





<div class="row">










<!-- > chrome plate -->





<!-- > slinger -->
  <% if(entry.length>0) { %>
  <div class="row" style="margin: 0px;"><!-- > entry -->
  <% for(var i=0; i<entry.length;i++) { %>




<div class="col-sm-5 content">










    <p><!-- > bottom -->
      <b><span style="font-weight: 800;font-size: 1.5em;"> <b><%= entry[i].e1%></b></span></b>- 
      
		<%= entry[i].e4%>

		<hr>


      <div class="post" style="background: white;border-radius: 3px;"><!-- post -->

        <!-- > main post -->

          <!-- > pesonal deatils -->
          <!-- < pesonal deatils -->

          <!-- > main post -->
           
            
          <!-- < main post -->

          <!-- > stats -->
            
          <!-- < stats -->

        <!-- < main post-->
        <!-- > best / last translations -->

          <div class="row" style="">
            <form action="/entry/update/<%= entry[i]._id%>" method="post">

              <textarea class="textbody" name="lang_one" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].lang_one%>
              </textarea>

              <button type="submit" class=""  style="margin: -120% 0px 0px 85%;padding:7px 13px 7px 13px ;border: none;border-radius: 3px;background: #00AE4D;color: white;">Update
              </button>

              <table class="translations">
                <tbody>
                  <tr>
                    <textarea  class="translations" name="e1" value="<%= entry.e1 %>" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].e1 %></textarea>

                    <textarea  class="translations" name="e2" value="<%= entry.e2 %>" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].e2 %></textarea>

                    <textarea  class="translations" name="e3" value="<%= entry.e3 %>" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].e3 %></textarea>

                    <textarea  class="translations" name="e4" value="<%= entry.e4 %>" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].e4 %></textarea>

                    <textarea  class="translations" name="e5" value="<%= entry.e5 %>" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].e5 %></textarea>

                    <textarea  class="translations" name="e6" value="<%= entry.e6 %>" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].e6 %></textarea>

                    <textarea  class="translations" name="e7" value="<%= entry.e7 %>" style="font-size:1em;width: 100%;border:none;" placeholder="Add Translation" align="center"><%= entry[i].e7 %></textarea>
                  </tr>
                  <tr>
                    <td><span style="">tr_nde</span></td>
                    <td><textarea name="lang_two"></textarea></td>
                  </tr>
                  <tr>
                    <td><span style="">tr_tsw</span></td>
                    <td><textarea name="lang_three"></textarea></td>
                  </tr>
                  <tr>
                    <td><span style="">tr_afr</span></td>
                    <td><textarea name="lang_four"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        <!-- < best / last translations -->
        <!-- > translations -->
          <!-- > best / last translations -->
            <div class="row" style="">
                <div class="col-sm-4" style="">


                </div>
                <div class="col-sm-8" style="">


                </div>
            </div>
          <!-- < best / last translations -->
          <!-- > best / last translations -->
            <div class="row" style="">
                <div class="col-sm-4" style="">


                </div>
                <div class="col-sm-8" style="">


                </div>
            </div>
          <!-- < best / last translations -->
        <!-- < translations --><hr>
      </div><!--  post -->

		

      2W





<form action="/entry/delete/<%= entry[i]._id%>" method="post" style="float: right;">
            <a href="/entry/edit/<%= entry[i]._id%>"  style="background: ;color: gray;">EDIT (Original)</a>
            &nbsp | &nbsp
            <a href="/entry/show/<%= entry[i]._id%>"  style="color: gray;">TRANSLATE</a>
            &nbsp | &nbsp
            <button class="btn btn-sm btn-secondary" type="submit">DELETE</button>
            </form>




    </p><!-- < bottom -->









</div>






  <% } %>
  </div><!-- < entry -->

  <!-- > trailer -->



  <% } else { %>
  <div>
    <!-- Post something to view here : ) -->



	<div class="row" style="width:;height: ;" align="center">
		<a href="create">
		<img src="/add.png" width="30px" height="30px" style="margin:700% 0px  0px 1400%; ">
		</a>
	</div>



  </div>
  <% } %>

       
      




  <!-- < trailer -->


<!-- < slinger -->




<!-- < chrome plate -->











		

	
	
</div>




			</div>
			
		</div>
		

	</div>

</div>
	<!-- body -->



<!-- > from legacy -->

    <script src="/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/ie10-viewport-bug-workaround.js"></script>
    <script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<!-- < from legacy -->

</body>
</html>